<h1>Bonjour veuillez confirmer votre E-mail</h1>

<p>
    Veuillez confirmer votre adresse E-mail en cliquant sur le liens : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    merci!
</p>
