*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 150px;

}

a{
    color:black !important;
    text-decoration: none !important;
}

a:hover {
    color:rgb(39, 45, 110) !important;
    transition-delay: 80ms;
}
i{
    color: black;
}

span{
    color: red;
    font-size: 20px;
}

/*  calendar */

#calendar{
    width: 80%;
    margin: auto;
    /* height: 500px; */
}